.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #262626;
}

.title{
    font-size: 80px;
    color: #fff;
    animation: flipTitle 2s;
}

@keyframes flipTitle{
    from{
        transform: rotateX(90deg);
    }
    to{
        transform: rotateX(0deg);
    }
}

.container-input{
    background-color: rgba(255, 255, 255, 0.2);
    margin: 34px 0;
    padding: 15px;
    display: flex;
    border-radius: 8px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}

.container-input input{
    border: 0;
    font-size: 20px;
    color: #fff;
    outline: none;
    background-color: transparent;
}

.container-input input::placeholder{
    color: #f1f1f1;
}

.button-search{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    cursor: pointer;
    background-color: transparent;
    transition: transform 0.5s;
}

.button-search:hover{
    transform: scale(1.2);
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
    padding: 10px 150px;
    border-radius: 8px;
    background-color: #eee;
    animation: main 2s;
}

.main > *{
    animation: fadeIn 2s;
}

@keyframes main {
    0%{
        padding: 0;
    }
    100%{
        padding: 10px 150px;
    }   
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.main h2{
    margin: 16px 0;
    font-size: 30px;
}

.main span{
    margin: 0 0 15px 0;
    font-weight: bold;
    font-size: 15px;
}

@media screen and (max-width: 620px){
    .title{
        font-size: 40px;
    }

    .container-input{
        padding: 10px;
    }

    .main h2{
        font-size: 25px;
    }
    
    .main span{
        font-size: 12px;
    }

    .main{
        width: 80%;
        min-height: 250px;
        padding: 35px 70px;
    }
}